 
{% extends 'database/base.html' %}

{% block title %}New_Record{% endblock %}

{% block content %}
  
  
    <div class="card mx-auto"style="width: 80rem;">
      <div class="card-header text-white" style="background-color: #428bca  ">Customer Information</div>
      <div class="card-body">
 
        <form action=""class="form-sample" method="Post">
 
          <br>
        

          <form class="form-sample" method="POST" action="/getdata/">
 
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Customer ID</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="InternID" name="InternID" required>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Home Number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="HomeNumber" name="HomeNumber">
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">First Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="First_Name" name="First_Name" required>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Mobile Number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="MobileNumber" name="MobileNumber">
                  </div>
                </div>
              </div>
            </div>
  
  
  
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"> Last Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="Last_Name" name="Last_Name" required>
                  </div>
                </div>
              </div>
                <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="Email" name="Email">
                  </div>
                </div>
              </div>
             </div>           
                        
                  
                  
            </div>
				
				<div class="card-header text-white" style="background-color: #428bca  ">Booking Information</div>
          <br>
             <div class="table-responsive">
          
          <table class="table table-bordered table-hover table-striped">
              <thead class="thead">
                  <tr>
                    <th>Booking ID</th>
					<th>Customer ID </th>
                      <th>Number of Showing</th>
                       <th>Air Date</th>
                    <th>Date Created</th>
                    <th>Image File</th>
					<th>Air Time</th>
					<th>Booking Type</th>
					<th>Recepient Name</th>
					<th>Content</th>
					
                     
                  </tr>
                </thead>
                <tbody>
					
                  <tr>
                    <td><input type="text" value ="1" id="BID" name="BID"></td>
					<td><input type="text" value ="1" id="CID" name="CID"></td>
                    <td><input type="text" value ="Jolani" id="Number_Of_Showing" name="Number_Of_Showing"></td>
                    <td><input type="date" value ="Allie" id="Air_Date" name="Air_Date"></td>
                    <td><input type="date" value ="" id="Date_Created" name="Date_Created"></td>
                    <td><input type="file" value =""></td>
					<td><input type="time" value =""></td>
					<td><select>
					  <option value="greeting">Greetings</option>
					  <option value="deathAnnouncement">Death Announcement</option>
					</select> </td>
					<td><input type="text" value ="1" id="Recepient_Name" name="Recepient_Name"></td>
                    <td><textarea rows="4" cols="50" id="Text_Content" name="Text_Content"></textarea>
                    
                  </tr>
              </tbody>
                 </table>
            </div>
                        
						<br>
          <button class="btn btn-danger btn-rounded" type="reset">Clear</button>&nbsp;<button class="btn btn-success btn-rounded" type="submit" value="submit">Save</button> 
        </form>
      </div>
    </div>
  
{% endblock %}